rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    // Publicamente legível
    match /pages/{pageSlug} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Publicamente legível
    match /adventures/{adventureId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Publicamente legível
    match /content/{docId} {
       allow read: if true;
       allow write: if isAdmin();
    }

    // Requer login para criar, apenas admin pode gerenciar
    match /registrations/{registrationId} {
      allow create: if request.auth != null;
      allow read, update, delete: if isAdmin();
    }

    // Apenas o próprio usuário pode ler seu status de admin
    match /roles_admin/{userId} {
      allow get: if request.auth.uid == userId;
      allow list, create, update, delete: if false;
    }
  }
}
